html {
  font-family: sans-serif;
}

table {
  border-collapse: collapse;
  border: 2px solid rgb(52, 149, 65);
  letter-spacing: 1px;
  font-size: 0.8rem;
}

td, th {
  border: 1px solid rgb(120, 40, 40);
  padding: 10px 20px;
}

th {
  background-color: rgb(136, 127, 201);
}

td {
  text-align: center;
}

tr:nth-child(even) td {
  background-color: rgb(159, 54, 98);
}

tr:nth-child(odd) td {
  background-color: rgb(245,245,245);
}

caption {
  padding: 10px;
}
tbody {
    font-size: 95%;
    font-style: italic;
  }
  
  tfoot tr:first-child {
    font-weight: bold;
  }

  tfoot tr:first-child td {
    font-weight: bold;
    background-color: rgb(255, 149, 95);
  }

  tfoot td:first-child {
    text-align: left;
  }